<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="HealthCareApp"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- 인트로 화면을 앱의 시작 화면으로 설정 -->
        <activity android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MenuActivity" />

        <!-- UserActivity 추가 -->
        <activity android:name=".UserActivity" />
    </application>

</manifest>
